# Core functionality - changes here should be rare!
/src/app.py                   @kevineaton
/src/backend/database.py      @kevineaton
/src/backend/routers/auth.py  @kevineaton

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kevineaton
